/* TransitionAnimation.css */

.text-container-animation {
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .text-container-animation.fade-in {
    opacity: 1;
  }
  
  .text-container-animation.fade-out {
    opacity: 0;
  }
  