.tiptap.ProseMirror {
  --blockquote-bg-color: var(--tt-gray-light-900);

  .dark & {
    --blockquote-bg-color: var(--tt-gray-dark-900);
  }
}

/* =====================
     BLOCKQUOTE
     ===================== */
.tiptap.ProseMirror {
  blockquote {
    position: relative;
    padding-left: .8em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 1.5rem 0;

    p {
      margin-top: 0;
    }

    &::before,
    &.is-empty::before {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      height: 100%;
      width: 0.3em;
      background-color: var(--primary, #eca31a);
      content: "";
      border-radius: 5px;
    }
  }
}
